{
  "connectionStrings": [
    {
      "service": "catalog",
      "local": {
        "dataSource": "YourServerName",
        "initialCatalog": "GreenShop.Catalog",
        "Authentication": "Windows Authentication"
      }
    }
  ]
}