@using Common.Models.Categories;
@{
    ViewData["Title"] = "Categories";
    var categories = (List<Category>)ViewData["categories"];
}

<h1>Categories:</h1>
<div class="container">
    <div class="row">
        <ul>
            @foreach (var category in categories)
            {
                <li>
                    @Html.ActionLink(category.Name, "Category", "Catalog", new { id = category.Id }, null)
                </li>
            }
        </ul>
    </div>
</div>

